<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Auct.io"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".PendingVerificationActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".AuctionDetailActivity"
            android:exported="false" />

        <activity
            android:name=".BidActivity"
            android:exported="false" />

        <activity
            android:name=".PaymentMethodsActivity"
            android:exported="false" />

        <activity
            android:name=".PaymentMethodFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProductRequestActivity"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".FinesActivity"
            android:exported="false" />

        <activity
            android:name=".PurchasesActivity"
            android:exported="false" />

        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".UserReviewActivity"
            android:exported="false" />

        <activity
            android:name=".SubastasActivity"
            android:exported="false" />

    </application>

</manifest>
